@page "/"

<h3>ビンゴカード</h3>

<input id="GetCard" type="button" value="カードを取得" />
<label class="cardid">カードID</label>
<input id="CardID" type="text"/>
<input id="GetGame" type="button" value="ゲーム情報を取得" />

<h3>使い方</h3>
<ul>
	<li>
		NameとPasscodeを入力して<label class="looklikebutton">ビンゴをセット</label>ボタンを押すとサーバー側でゲーム情報が生成されます。
		<ul>
			<li>Name: ビンゴ識別子。ビンゴに参加する人にはこのNameを伝えてください</li>
			<li>Passcode: ビンゴ識別子に付随するパスコード。ビンゴを運営する人だけが知っていてください。</li>
		</ul>
	</li>
	<li><label class="looklikebutton">ビンゴを削除</label>ボタンを押すと、ゲーム情報が削除されます。ゲーム終了時に押してください。ゲーム情報削除にはNameとPasscodeの入力が必要です。</li>
	<li><label class="looklikebutton">ビンゴを回す</label>ボタンを押すと、次の数字が排出されます。同様にNameとPassscodeが必要です。</li>
	<li>
		<label class="looklikebutton">カードを取得</label>ボタンを押すと、新しくカードが生成され、カードIDが表示されます。<br />
		カードIDがセットされた状態で<label class="looklikebutton">カードを取得</label>ボタンを押すと、そのカード情報を取得できます。
	</li>
	<li><label class="looklikebutton">ゲーム情報を取得</label>ボタンを押すと、ゲーム情報を取得してカードに反映されます。</li>
</ul>

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
